vagrant/MY_Provisioning/ubuntu-bionic-18.04-cloudimg-console.log
vagrant/Automated_Provisioning/.vagrant
vagrant/MY_Provisioning/.vagrant
vagrant/Automated_Provisioning/ubuntu-bionic-18.04-cloudimg-console.log